################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/
/Reqnroll.DSL.Examples/bin/
/Reqnroll.DSL.Examples/obj/
/Reqnroll.DSL.Examples/TestResults/
/Reqnroll.DSL.ReqnrollPlugin/bin/
/Reqnroll.DSL.ReqnrollPlugin/obj/
/DSL.Examples/obj/
/DSL.ReqnrollPlugin/obj/
/DSL.Examples/bin/
/DSL.ReqnrollPlugin/bin/
