################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/
/DSL.ReqnrollPlugin.Examples/obj/
/DSL.ReqnrollPlugin.Examples/bin/
/DSL.ReqnrollPlugin.UnitTests/obj/
/DSL.ReqnrollPlugin.UnitTests/bin/
/DSL.ReqnrollPlugin/obj/
/DSL.ReqnrollPlugin/bin/
/DSL.ReqnrollPlugin.Examples/Features/FunctionExamples.feature.cs
/DSL.ReqnrollPlugin.Examples/Features/UserVariableExamples.feature.cs
/DSL.ReqnrollPlugin.Examples/Features/EnvironmentVariableExamples.feature.cs
